a,
body,
div,
h1,
h2,
h3,
h4,
i,
img,
input,
li,
p,
span,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
img,
input {
  border: none;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: #000;
}
i {
  font-style: normal;
}
li {
  list-style: none;
}
body {
  font-size: 12px;
  line-height: 1;
  background-color: #f2f3f4;
}
.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.topBar {
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  z-index: 555;
}
.topBar .am-navbar-right {
  margin-right: 0;
}
.topBar .am-navbar {
  background-color: #d44439;
  color: #f1f1f1;
}
.topBar div.am-navbar-title {
  color: #f1f1f1;
}
.home {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 88.5px;
  padding-bottom: 50px;
}
.home .am-tabs-tab-bar-wrap {
  position: fixed;
  width: 100%;
  height: 43.5px;
  top: 45px;
  left: 0;
  z-index: 555;
}
.home .tabBox {
  width: 100%;
  height: 100%;
}
.home .am-tabs-default-bar-underline {
  border: none;
  height: 3px;
  bottom: 5px;
  padding: 0 35px;
  margin-bottom: 3px;
  overflow: hidden;
}
.home .am-tabs-default-bar-underline:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
}
.home .am-tabs-default-bar-tab:after {
  opacity: 0;
}
.recommend {
  position: relative;
  height: 100%;
}
.recommend .bg {
  background-color: #d44439;
  height: 100px;
}
.recommend .carousel {
  margin-top: -100px;
}
.recommend .am-wingblank.am-wingblank-lg {
  overflow: hidden;
  border-radius: 7px;
  margin: 0 5px;
}
.recommend .song-list {
  background-color: #f2f3f4;
}
.recommend .am-tabs {
  height: 100%;
  width: 100%;
}
.songList {
  padding-bottom: 90px;
}
.songList .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  margin-left: 5px;
}
.songList .am-grid .am-flexbox {
  background-color: #f2f3f4;
}
.songList .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
  height: auto;
}
.am-list-body:before {
  opacity: 0;
}
.songList ul {
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f3f4;
}
.songList ul li {
  position: relative;
  padding: 0 2px;
  width: 33.33%;
  margin-bottom: 8px;
}
.songList ul li .imgBox {
  width: 100%;
  height: 120px;
}
.songList ul li img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 4px;
}
.songList ul li div {
  width: 90%;
  line-height: 16px;
  font-size: 12px;
}
.songList ul li i {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #f1f1f1;
  font-size: 12px;
}
.singer {
  background-color: #f2f3f4;
}
.singer .classify {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  padding-left: 3px;
  overflow: hidden;
}
.singer .classify ul {
  display: flex;
}
.singer .classify ul li {
  text-align: center;
  width: 60px;
  height: 25px;
  line-height: 25px;
  margin: 0 5px;
  overflow: hidden;
}
.singer .classify ul .title {
  width: 85px;
  font-size: 12px;
  margin: 0;
  color: #7b7b7c;
}
.singer .classify ul li.activate {
  border: 1px solid #d76c64;
  border-radius: 5px;
  color: #d76c64;
}
.singer .letter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  padding-left: 3px;
  overflow: hidden;
  margin-bottom: 5px;
}
.singer .letter ul {
  display: flex;
}
.singer .letter ul li {
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 0 5px;
  overflow: hidden;
}
.singer .letter ul .title {
  width: 40px;
  font-size: 12px;
  margin: 0;
  color: #7b7b7c;
}
.singer .letter ul li.letter-activate {
  color: #d76c64;
}
.singer .list {
  padding-bottom: 100px;
}
.singer .list .am-list-item {
  height: 62px;
  background-color: #f2f3f4;
}
.singer .list .am-list-item.am-list-item-active {
  background-color: #ebebeb;
}
.singer .list .am-list-item .am-list-thumb img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.ranking {
  padding: 0 3px 100px;
}
.ranking .authority .title {
  font-weight: 700;
  line-height: 35px;
}
.ranking .authority .am-list .am-list-body:before {
  display: none;
}
.ranking .authority .am-list .am-list-brief {
  font-size: 12px;
}
.ranking .authority .am-list .am-list-item {
  background-color: #f3f3f4;
  padding: 3px 0;
}
.ranking .authority .am-list .am-list-item .am-list-thumb {
  height: 85px;
  width: 85px;
  margin-right: 10px;
}
.ranking .authority .am-list .am-list-item .am-list-thumb img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.ranking .global .title {
  font-weight: 700;
  line-height: 35px;
  margin-top: 15px;
}
.ranking .global .am-grid div.am-grid-item-content {
  padding: 0;
}
.ranking .global .am-grid div.am-grid-item-content div {
  height: 100%;
  padding: 2px;
}
.ranking .global .am-grid div.am-grid-item-content div span {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 12px;
  color: #fff;
}
.ranking .global .am-grid .am-flexbox-item {
  background-color: #f3f3f4;
}
.songMenu .cover {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #ddd;
}
.songMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.songMenu .cover .bg {
  width: 100%;
  height: 105%;
  background-size: 100% 105%;
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
.songMenu .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.songMenu .cover .content .am-navbar-light {
  color: #eee;
  background: transparent;
}
.songMenu .cover .content .am-navbar .title {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.songMenu .cover .content .am-navbar-left {
  flex: 100 1;
}
.songMenu .cover .content .synopsis {
  display: flex;
  margin: 20px 20px 0;
}
.songMenu .cover .content .synopsis div {
  flex: 1 1;
  overflow: hidden;
  color: #eee;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.songMenu .cover .content .synopsis div .title {
  width: 95%;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
}
.songMenu .cover .content img {
  width: 110px;
  height: 110px;
  border-radius: 5px;
  margin-right: 10px;
}
.songMenu .cover .content div {
  line-height: 50px;
}
.songMenu .cover .content div .text {
  display: flex;
  align-items: center;
  color: #bba9a9;
}
.songMenu .cover .content div .text img {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  margin-right: 3px;
}
.songMenu .cover .content .praise ul {
  display: flex;
  margin-top: 20px;
}
.songMenu .cover .content .praise ul li {
  height: 80px;
  flex: 1 1;
  text-align: center;
  color: #dadfe6;
  line-height: 1;
}
.songMenu .cover .content .praise ul li i.iconfont {
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
}
.songMenu .songMenuList {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.songMenu .songMenuList .am-list {
  padding-top: 250px;
  padding-bottom: 105px;
}
.songMenu .songMenuList .am-list .am-list-body {
  overflow: hidden;
  border-radius: 6px 6px 0 0;
}
.songMenu .songMenuList .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  margin-left: 10px;
}
.songMenu .songMenuList .title i.icon-bofang {
  font-size: 24px;
  margin: 0 10px;
}
.songMenu .songMenuList .title span {
  font-size: 16px;
}
.songMenu .songMenuList .title span span {
  font-size: 12px;
  color: #bba9a9;
}
.songMenu .songMenuList .box {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.songMenu .songMenuList .box .index {
  text-align: center;
  width: 60px;
}
.songMenu .songMenuList .box .am-list-item {
  padding-left: 0;
  flex: 1 1;
}
.songMenu .songMenuList .box .am-list-item .am-list-line {
  padding: 5px;
}
.songMenu .songMenuList .box .am-list-item .am-list-line .am-list-brief {
  font-size: 12px;
}
.songMenu .songMenuList .title .am-button {
  height: 100%;
  line-height: 45px;
  background-color: #d4473e;
  color: #f0f0f1;
  padding: 0 10px;
}
.songMenu .songMenuList .title .am-button .num {
  font-size: 14px;
}
.songMenu .am-icon-loading {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  top: 70%;
}
.singerDetails {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: top right;
  transform-origin: top right;
}
.singerDetails .am-notice-bar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}
.singerDetails .top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  color: #f1f1f1;
  padding: 10px 5px;
  font-size: 16px;
}
.singerDetails .cover {
  position: relative;
  height: 295px;
  background-size: 100% 100%;
}
.singerDetails .cover .btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 30px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #d1453a;
  color: #efeded;
}
.singerDetails .cover .btn:before {
  border: none;
}
.singerDetails .cover .btn.am-button-active {
  background-color: #be433a;
  color: #c5bebe;
}
.singerDetails .songMenuList {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50px;
  z-index: 999;
  overflow: hidden;
  margin-top: -10px;
}
.singerDetails .songMenuList .am-list {
  padding-top: 240px;
  padding-bottom: 100px;
}
.singerDetails .songMenuList .am-list .am-list-body {
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.singerDetails .songMenuList .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  margin-left: 10px;
}
.singerDetails .songMenuList .title i.icon-bofang {
  font-size: 24px;
  margin: 0 10px;
}
.singerDetails .songMenuList .title span {
  font-size: 16px;
}
.singerDetails .songMenuList .title span span {
  font-size: 12px;
  color: #bba9a9;
}
.singerDetails .songMenuList .box {
  display: flex;
  align-items: center;
}
.singerDetails .songMenuList .box .index {
  text-align: center;
  width: 60px;
}
.singerDetails .songMenuList .box .am-list-item {
  padding-left: 0;
  background-color: #fff;
  flex: 1 1;
}
.singerDetails .songMenuList .box .am-list-item .am-list-line {
  padding: 5px;
}
.singerDetails .songMenuList .box .am-list-item .am-list-line .am-list-brief {
  font-size: 12px;
}
.singerDetails .songMenuList .am-icon-loading {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  top: 70%;
}
.playMusic {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  overflow: hidden;
}
.playMusic .bg {
  background-color: #4d4d4d;
}
.playMusic .bg,
.playMusic .bg .before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.playMusic .bg .before {
  background: url(http://img0.imgtn.bdimg.com/it/u=3577671538, 2909403054&fm=26&gp=0.jpg);
  background-size: 100% 100%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  opacity: 0.5;
}
.playMusic .tool {
  display: flex;
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #fafafa;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.playMusic .tool .am-list-item {
  flex: 1 1;
  padding-left: 20px;
  height: 60px;
  background-color: transparent;
}
.playMusic .tool .am-list-item .am-list-content {
  font-size: 16px;
}
.playMusic .tool .am-list-item .am-list-line {
  padding: 0;
}
.playMusic .tool .am-list-item .am-list-thumb img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite;
  border: 1px solid #a39a9a;
}
.playMusic .tool .am-list-item .am-list-brief {
  margin-top: 0;
  font-size: 12px;
}
.playMusic .tool .btn {
  display: flex;
  align-items: center;
}
.playMusic .tool .btn .icon-bofang,
.playMusic .tool .btn .icon-zanting {
  font-size: 30px;
  color: #d64637;
  margin-right: 20px;
}
.playMusic .tool .btn .icon-yinleliebiao {
  font-size: 40px;
  color: #d64637;
  margin-right: 10px;
}
.playMusic .all {
  position: absolute;
  width: 100%;
  height: 100%;
}
.playMusic .all .am-icon-down {
  position: absolute;
  left: 15px;
  top: 10px;
  width: 35px;
  height: 35px;
  color: #e2e1e1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.playMusic .all .singer,
.playMusic .all .title {
  text-align: center;
  background-color: transparent;
  font-size: 16px;
  margin-top: 20px;
  color: #e2e1e1;
}
.playMusic .all .singer {
  color: #afa39f;
  font-size: 14px;
  margin-top: 10px;
}
.playMusic .all .plate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
  margin: 0 auto;
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.playMusic .all .plate img {
  width: 95%;
  height: 95%;
  border-radius: 50%;
}
.playMusic .all .lycBrief {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 70%;
  margin: 0 auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.playMusic .all .lycBrief p {
  text-align: center;
  line-height: 25px;
  font-size: 16px;
  color: #fff;
}
.playMusic .all .lycBox {
  position: relative;
  padding-top: 50px;
  margin-top: 20px;
  overflow: hidden;
  height: 65%;
}
.playMusic .all .allLyc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  line-height: 18px;
  color: #bdbdbd;
  font-size: 14px;
  padding: 50% 15% 0;
}
.playMusic .all .allLyc p {
  height: 50px;
}
.playMusic .all .allLyc p.current {
  line-height: 25px;
  height: 60px;
  color: #fff;
  font-size: 18px;
}
.playMusic .all .allTool {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.playMusic .all .allTool .progressBar {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  color: #e2e1e1;
  justify-content: center;
}
.playMusic .all .allTool .progressBar .audio {
  width: 175px;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  display: none;
}
.playMusic .all .allTool .progressBar .audio audio {
  -webkit-transform: translateX(-134px) translateY(-25px);
  transform: translateX(-134px) translateY(-25px);
  width: 400px;
}
.playMusic .all .allTool .progressBar .am-progress-outer {
  flex: 1 1;
  height: 4px;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.playMusic .all .allTool .progressBar .am-progress-outer .am-progress-bar {
  border-color: #d44439;
}
.playMusic .all .allTool .progressBar .progressBox {
  display: flex;
  width: 60%;
  align-items: center;
  height: 24px;
  margin: 0 5px;
}
.playMusic .all .allTool .progressBar .progressBox > div {
  width: 100%;
  height: 4px;
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 2px;
}
.playMusic .all .allTool .progressBar .progressBox .progress {
  position: relative;
  height: 4px;
  width: 0;
  background-color: #d4473e;
  border-radius: 2px;
  max-width: 100%;
}
.playMusic .all .allTool .progressBar .progressBox .progress:before {
  position: absolute;
  right: -4px;
  top: -2px;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}
.playMusic .all .allTool .control {
  display: flex;
  width: 85%;
  margin: 20px auto 15%;
}
.playMusic .all .allTool .control i {
  text-align: center;
  flex: 1 1;
  font-size: 35px;
  color: #e2e1e1;
}
.am-modal {
  max-height: 70%;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}
.am-modal .songListPopup .box {
  overflow: hidden;
  height: 440px;
}
.am-modal .songListPopup .am-list-header {
  padding: 6px 5px;
}
.am-modal .songListPopup .am-list-header .title {
  padding-left: 10px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333;
}
.am-modal .songListPopup .am-list-header .title .iconfont {
  color: #d4473e;
  font-size: 16px;
  margin-right: 10px;
}
.am-modal .songListPopup .am-list-header .title .icon-guanbi {
  font-size: 12px;
}
.am-modal .songListPopup div.am-list-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 0;
}
.am-modal .songListPopup div.am-list-content .ico {
  display: flex;
  align-items: center;
}
.am-modal .songListPopup div.am-list-content .ico .iconfont {
  color: #d4473e;
}
.am-modal .songListPopup div.am-list-content .ico .icon-shoucang {
  font-size: 12px;
}
.am-modal .songListPopup div.am-list-content .ico .icon-RectangleCopy {
  margin-left: 5px;
  font-size: 20px;
}
.am-modal .songListPopup div.am-list-content span {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.am-modal .songListPopup div.am-list-content span .iconfont {
  opacity: 0;
  color: #d4473e;
  font-size: 12px;
  margin-right: 10px;
}
.am-modal .songListPopup .am-list-item {
  min-height: 40px;
}
.am-modal .songListPopup .am-list-body:after,
.am-modal .songListPopup .am-list-body:before,
.am-modal .songListPopup .am-list-line:after {
  display: none;
  opacity: 0;
}
.search {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.search .box {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #f3f3f4;
  height: 1905px;
  padding-top: 36px;
}
.search .box .content {
  padding: 0 10px;
}
.search .box .content .singer .title {
  line-height: 30px;
  font-size: 12px;
}
.search .box .content .singer .am-list-item {
  background-color: #f3f3f4;
  border-bottom: 1px solid #e9e9e9;
  padding: 5px 0;
}
.search .box .content .singer .am-list-item .am-list-thumb img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.search .box .content .singer .am-list-content {
  font-size: 14px;
}
.search .box .content .songMenuList .title {
  line-height: 30px;
  font-size: 12px;
}
.search .box .content .songMenuList .am-list-body:before {
  display: none;
}
.search .box .content .songMenuList .am-list-item {
  background-color: #f3f3f4;
  border-bottom: 1px solid #e9e9e9;
  padding: 5px 0;
}
.search .box .content .songMenuList .am-list-item .am-list-line:after {
  display: none;
}
.search .box .content .songMenuList .am-list-item .am-list-thumb img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.search .box .content .songMenuList .am-list-content {
  font-size: 14px;
}
.search .box .content .songList {
  margin-top: 5px;
}
.search .box .content .songList .am-list-body:before {
  display: none;
}
.search .box .content .songList .am-list-item {
  background-color: #f3f3f4;
}
.search .box .content .songList .am-list-item .am-list-content {
  padding: 2px 0;
}
.search .box .content .songList .am-list-brief {
  font-size: 12px;
}
.search .box .content .songList .am-list-content {
  font-size: 15px;
}
.search .box .content .songList .am-list-item {
  padding: 0;
}
.search .box .hotKey {
  padding-left: 17px;
}
.search .box .hotKey .title {
  color: #c09dac;
  line-height: 50px;
  margin-top: 15px;
}
.search .box .hotKey .content {
  padding: 0;
}
.search .box .hotKey .content .am-tag {
  height: 22px;
  line-height: 22px;
  color: #000;
  padding: 0 11px;
  margin-right: 28px;
  margin-bottom: 15px;
}
.search .box .hotKey .content .am-tag:before {
  border: none;
}
.search .searchBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #d44438;
  padding: 8px;
  color: #fff;
  align-items: center;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.search .searchBar .icon-xiangzuojiantou {
  margin-right: 8px;
  font-size: 14px;
}
.search .searchBar input {
  flex: 1 1;
  height: 20px;
  background-color: #d44439;
  border-bottom: 1px solid #e4e5e4;
  color: #fff;
  font-size: 14px;
}
.search .searchBar input::-webkit-input-placeholder {
  color: #fff;
}
.search .searchBar input::-moz-placeholder {
  color: #fff;
}
.search .searchBar input:-ms-input-placeholder {
  color: #fff;
}
.search .searchBar input::-ms-input-placeholder {
  color: #fff;
}
.search .searchBar input::placeholder {
  color: #fff;
}
.search .searchBar .icon-guanbi {
  font-size: 14px;
  margin-left: 8px;
}
.animation.icon-yinle {
  position: fixed;
  top: 200px;
  left: 200px;
  z-index: 999;
  font-size: 14px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  color: #d4473e;
  -webkit-animation: rotate 3s linear infinite;
  animation: rotate 3s linear infinite;
  opacity: 1;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
/*# sourceMappingURL=main.25809260.chunk.css.map */
